body {
    margin: 1in;
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    background-color: #0C121E;
    color: #FFFFFF;
}

h1 {
    font-family: Georgia, serif;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

h2 {
    text-align: left;
    font-family: Georgia, serif;
    font-size: 18pt;
    color: #F9D423;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 20px;
}

p {
    color: #EAEAEA;
    padding: 0;
    margin: 0;
    width: 100%; 
    line-height: 1.6;
}

sup {
    color: #9CA3AF;
    font-weight: bold;
    font-size: 10pt;
}

b, strong, i, em {
    color: #FFFFFF;
}

.bio-nav {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1   );
    padding: 20px;
    border-radius: 8px;
    border-bottom: 3px solid #F9D423;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bio-nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.bio-nav a:hover {
    color: #F9D423;
    transform: scale(1.1); 
}

/* bar separator */
.nav-separator {
    color: #9CA3AF; 
    font-weight: normal;
}
.go-top {
    clear: both;          
    display: block;         
    text-align: right;      
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 15px;       
}
.go-top:hover {
    color: #F9D423;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.05); 
    border-left: 6px solid #F9D423;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    overflow: hidden;
}

.inline-img-container {
    float: right;
    width: 45%; 
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.img-caption {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #9CA3AF;
    font-style: italic;
    margin-top: 5px;
}
.child-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #F9D423;
}


/* Smooth Scrolling effect */
html {
    scroll-behavior: smooth;
}


.btn-back {
    background-color: #F9D423;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.btn-back:hover {
    background-color: #ffcc00;
    transform: translateX(-5px);
}

.btn-link {
    text-decoration: none;
    outline: none;
}