/*  GLOBAL STYLES  */
body {
    margin: 1in;
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    background-color: #0C121E;
    color: #FFFFFF;
}

/*  TITLE HEADER  */
.title-header {
    text-align: center;
    margin-bottom: 50px;
}

.title-header h1 {
    font-family: Georgia, serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.3;
    margin: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.title-header h2 {
    font-family: Georgia, serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    color: #9CA3AF;
}

/* Image container / caption */
.img-caption {
    font-size: 0.85rem;
    color: #F9D423;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    font-size: 14px;
    margin-top: 10px;
}

.blog-container {
    width: 100%;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

.blog-main-img {
    width: 50%;
    max-width: 750px;
    display: flex;
    margin: auto;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #F9D423;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
/* main content image container */
.inline-img-container {
    float: right;
    width: 45%;
    margin: 0px 0 15px 20px;
}

.syntax-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #F9D423;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.content-wrapper {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.05); 
    padding: 25px;
    border-radius: 8px;
    overflow: hidden; 
}

/*  SECTION HEADINGS  */
h2 {
    font-family: Georgia, serif;
    font-size: 1.8rem; 
    color: #F9D423;
    text-transform: uppercase;
    max-width: 800px;
    margin: 40px auto 20px auto;
    font-style: italic;
    text-align: left; 
}


/*  PARAGRAPHS  */
p {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.7;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.05);
    border-left: 6px solid #F9D423;
    padding: 15px 20px;
    border-radius: 5px;
    color: #EAEAEA;
    height: auto;
}

/*  TEXT FORMATTING  */
sup {
    color: #145485;
    font-weight: bold;
    font-size: 10pt;
}

b, strong, i, em {
    color: #eee;
}

/* Back button */
.button-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.left-buttons {
    display: flex;
    gap: 15px;
}

.btn-back, .btn-next{
    background-color: #152238;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0;
}


.btn-back:hover, .btn-next:hover {
    background-color: #F9D423;
    transform: translateX(-3px);
    color:#000000;
}

.btn-link {
    text-decoration: none;
    outline: none;
}

