/* Page background */
body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    background-color: #152238; 
}

/* Post container */
.content {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

/* Header borders */
.title-header {
    text-align: center;
    margin-bottom: 50px;
    padding: 30px 0;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
}


/* Gradient title */
.title-header h1 {
    font-family: Georgia, serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2;
    margin: 0;
    padding: 10px 0;
    background: linear-gradient(to right, royalblue, deepskyblue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px #152238;
}

/* Author name */
.author-date {
    font-family: Georgia, serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: #152238;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
    
}

.content-wrapper {
    overflow: hidden;
    margin: 20px 0;
}

.inline-img-container {
    float: right;
    width: 40%;
    margin-left: 10px 0 20px 20px;
    text-align: center;
}

.future-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 5px solid #152238;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.blog-container {
    text-align: center;
    margin: 30px 0;
}

.blog-main-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.img-caption {
    font-size: 0.85rem;
    color: #152238;
    font-style: italic;
    margin-top: 10px;
}

/* Section titles */
h2 {
    font-family: Georgia, serif;
    color: #112A46;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #152238;
    display: inline-block;
    padding-bottom: 5px;
    font-style: italic;
}

/* Main text */
p {
    margin: 0;
    line-height: 1.5;
    text-align: left;
    text-indent: 2em; 
    padding: 15px 20px;
    color: #000000; 
}

h3 {
  border-left: 5px solid #152238;
  padding: 15px 20px;
  border-radius: 5px;
  color: #333;
}


/* Text emphasis */
b, strong { color: #333; }
i, em { color: #000000; }
em, i, strong, b { padding-right: 2px; }

/* Small citations */
sup {
    color: #145485;
    font-weight: bold;
    font-size: 10pt;
}

/* button container */
.button-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.left-buttons {
    display: flex;
    gap: 15px;
}

/* Back button */
.btn-back {
    background-color: #152238;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin: 40px auto;
    transition: 0.3s ease;
}

.btn-back:hover {
    background-color: #ffcc00;
    transform: translateX(-5px);
    color:#000000;
}

.btn-link {
    text-decoration: none;
    outline: none;
}



/* Mobile view */
@media (max-width: 900px) {
    .content {
        margin: 20px;
        padding: 30px 20px;
    }

    .title-header h1 {
        font-size: 2.2rem;
    }
}